<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://nordcdn.net/ds/css/3.1.1/nord.min.css" integrity="sha384-zz2Vh/uaPtnKKnKq4a8aP/R7ybJEZD3LuwnvmLE+p42C+Zjr2R0Y+PKwdABWc61A" crossorigin="anonymous" />
    <script type="module" src="https://nordcdn.net/ds/components/3.8.0/index.js" integrity="sha384-zvZDBl7G/h/0UeesdZH1CBfL9kfoMi+5/I28m8u8yCgzJC7kohDH3I6XgaMzYnLW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://nordcdn.net/ds/themes/8.0.1/nord-dark.css" integrity="sha384-4mfQkitA1YUssjHukrfVhopnhPw9eM2tX8Z05rZ/5NJRmDJN1fQp2gGfwydx2SzL" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <title>LinkGuard | <%=name%></title>
</head>
<body>
    <style>
        body {
            background: var(--n-color-surface);
            margin: 0;
        }

        #info {
            width: 65%;
        }

        nord-stack {
            width: 50%;
        }
    </style>
    
    <style>
        @media screen and (max-width: 600px) {
            nord-stack, #info {
                width: 80%;
                flex-direction: column;
                align-items: center;
            }
        }
    </style>

    <nord-header>
        <h1 class="n-typescale-l">LinkGuard</h1>
        <img src="https://res.cloudinary.com/dlxrsqy04/image/upload/f_auto,q_auto,h_50/d4ecdjm7nxkd45iib96y" alt="" srcset="">
        <nord-button href="https://docs.linkguard.cc" slot="end"><nord-icon name="interface-content-book" slot="end"></nord-icon>Documentation</nord-button>
        <nord-button href="./" slot="end"><nord-icon name="interface-home" slot="end"></nord-icon>Home</nord-button>
    </nord-header>

    <nord-empty-state>
        <h2>Managing Project [<%=name%>]</h2>
        <p>You are currently managing a project, here you update your project information or view your analytics</p>

        <nord-stack justify-content="center" direction="horizontal">
            <nord-card>
                <h2 slot="header">Completed Links</h2>
                <%=completed%>
            </nord-card>
            <nord-card>
                <h2 slot="header">Blocked Attempts</h2>
                <%=failed%>
            </nord-card>
        </nord-stack>
    </nord-empty-state>

    <nord-divider direction="horizontal"></nord-divider>

    <nord-empty-state id="settings">
        <h3>Update Project</h3>
        <nord-stack justify-content="center" direction="horizontal" style="gap: 100px">
            <div style="gap: 20px; display: grid;">
                <nord-range label="Redeem Cooldown" id="redeemcooldown" value="<%=redeem%>" min="1" hint="- Hours before users can redeem another" max="72" required></nord-range>                

                <nord-select label="Verification Type" value="<%=type%>" id="ptype" value="script" hint="- Choose how to verify completed links" required>
                    <option value="script">License Key</option>
                    <option value="application">IP / Discord ID</option>
                </nord-select>
    
                <nord-input label="Discord Webhook" id="awebhook" type="url" placeholder="URL" value="<%=webhook%>" hint="- Log successful & failed attempts" required>
                    <nord-icon slot="start" name="interface-globe"></nord-icon>
                </nord-input>

                <nord-input label="Server ID" id="serverid" type="text" value="<%=serverid%>" placeholder="ID" hint="- Discord Server ID" required>
                    <nord-icon slot="start" name="interface-email"></nord-icon>
                </nord-input>

                <nord-input label="Server Invite" id="serverinvite" value="<%=invite%>" type="url" placeholder="URL"  hint="- Permanent Discord Invite" required>
                    <nord-icon slot="start" name="interface-globe"></nord-icon>
                </nord-input>

                <nord-input label="Ad-Link #1" type="url" id="adone" value="<%=linkone%>" placeholder="URL" hint="- Point to https://linkguard.cc/<%=name%>/stage-1" required>
                    <nord-icon slot="start" name="interface-globe"></nord-icon>
                </nord-input>
    
                <nord-input label="Ad-Link #2" type="url" id="adtwo" value="<%=linktwo%>" placeholder="URL" hint="- Point to https://linkguard.cc/<%=name%>/stage-2" required>
                    <nord-icon slot="start" name="interface-globe"></nord-icon>
                </nord-input>

                <nord-button variant="primary" onclick="Save()">Save</nord-button>
            </div>           
        </nord-stack>
    </nord-empty-state>

    <script>
        const API_KEY = "<%=api%>";
        const PROJECT_NAME = "<%=name%>";

        const RedeemCooldown = document.getElementById("redeemcooldown");
        const ProjectType = document.getElementById("ptype");
        const WebhookInput = document.getElementById("awebhook");
        const LinkOne = document.getElementById("adone");
        const LinkTwo = document.getElementById("adtwo");
        const ServerID = document.getElementById("serverid");
        const ServerInvite = document.getElementById("serverinvite");

        async function Save() {
            const packet = await fetch("/v1/validate/project", {
                method: "POST",
                headers: {
                    ["content-type"]: "application/json"
                },
                body: JSON.stringify({
                    Name: PROJECT_NAME,
                    Webhook: WebhookInput.value,
                    ServerInvite: ServerInvite.value,
                    ServerID: ServerID.value,
                    VerificationType: ProjectType.value,
                    UserCooldown: RedeemCooldown.value
                })
            })

            const body = await packet.json();
            if (packet.status !== 200) {
                return alert(body.error);
            }

            const packet2 = await fetch(`/v1/project/${PROJECT_NAME}`, {
                method: "PUT",
                headers: {
                    ["content-type"]: "application/json",
                    ["lg_access_token"]: API_KEY
                },
                body: JSON.stringify({
                    Name: PROJECT_NAME,
                    Webhook: WebhookInput.value,
                    ServerInvite: ServerInvite.value,
                    ServerID: ServerID.value,
                    VerificationType: ProjectType.value,
                    UserCooldown: RedeemCooldown.value,
                    LinkOne: LinkOne.value,
                    LinkTwo: LinkTwo.value,
                    Enabled: true
                })
            });
            
            const body2 = await packet2.json();
            if (packet2.status !== 200) {
                return alert(body2.error);
            }

            window.location.reload();
        }
    </script>
</body>
</html>